.cph
data
Siamese-Network-with-Triplet-Loss-master
a.ipynb
model_1.ipynb
model_2.ipynb
model_3.ipynb
model_4.ipynb
model_5_1.ipynb
model_results_0.xlsx
model_results_1.xlsx
Siamese-Network-with-Triplet-Loss-master.zip
test.ipynb
x.py
y.py
z.py
model_weights/siamese_classification_model_1.h5
model_weights/siamese_classification_model_3.h5
model_weights/siamese_classification_model_4.h5
model_weights/siamese_model_1.h5
model_weights/siamese_model_2.h5
model_weights/siamese_model_3.h5
model_weights/siamese_model_5.h5
model_weights/.DS_Store